---
// src/pages/index.astro
import { number } from 'astro:schema';
import ContentLayout from '../layouts/ContentLayout.astro';
import CardPasosCommonComponent from '../components/common/CardPasosCommonComponent.astro';
import InputComponent from '../components/ui/InputComponent.astro';

const listPasos = [
  {
    number: 1,
    title: 'Crea tu usuario',
    description:
      'Reg칤strate gratis en Spaciuz y accede a una plataforma dise침ada para ayudarte a monetizar tus espacios. Solo necesitas tu correo, una contrase침a , n칰mero de telefono y estar listo para empezar.',
    urlImg: '/images/photos/paso-1-crea-tu-usuario.png',
    altImg: 'Paso 1, crea tu usuario',
  },
  {
    number: 2,
    title: 'Publica tu espacio',
    description:
      'Agrega fotos, define tu precio y detalla las caracter칤sticas de tu local. En solo unos pasos, tu espacio estar치 visible para miles de personas que buscan el lugar perfecto para su evento.',
    urlImg: '/images/photos/paso-2-publica-tu-espacio.png',
    altImg: 'Paso 2, Publica tu espacio',
  },
  {
    number: 3,
    title: 'Comienza a generar ingresos',
    description:
      'Una vez publicado, tu espacio podr치 ser reservado de forma segura. Recibe pagos directamente y gestiona tus reservas desde tu cuenta. T칰 decides cu치ndo y a qu칠 precio alquilas.',
    urlImg: '/images/photos/paso-3-comienza-a-generar-ingresos.png',
    altImg: 'Paso 3, comienza a generar ingresos',
  },
];
---

<ContentLayout
  title="Podr칤as ganar m치s de S/3,000 al mes alquilando tu local en Spaciuz"
  description="Publica tu espacio gratis, recibe reservas y gana ingresos mensuales. Nosotros nos encargamos del resto."
>
  <!-- SECCION BANNER  -->
  <section class="flex flex-col lg:flex-row gap-20 lg:gap-5">
    <div
      class="flex flex-col justify-center items-center lg:items-start w-full lg:w-1/2 gap-6"
    >
      <h1
        class="text-[30px] text-center lg:text-start lg:text-[45px] leading-[120%] font-semibold text-pretty text-[#120F21]"
      >
        Podr칤as ganar m치s de S/3,000 al mes alquilando tu local en Spaciuz.
      </h1>
      <p
        class="text-[20px] text-center lg:text-start leading-[140%] text-[#44495D] text-pretty"
      >
        La mayor칤a de locales registrados se alquilan desde S/750 por d칤a. Con
        solo dos reservas al mes, podr칤as generar S/1,500 o m치s.
      </p>
      <a
        href="#formulario"
        class="rounded-2xl text-white bg-linear-to-r from-[#181B8C] to-[#684ED8] text-[18px] px-[46px] py-[10px] w-fit font-semibold"
        >Reg칤strate ahora</a
      >
    </div>
    <div class="flex flex-col items-center justify-end w-full lg:w-1/2">
      <img src="/images/photos/banner-map.png" alt="" class="w-full" />

      <div class="flex flex-col lg:flex-row items-center gap-4">
        <span class="text-[20px]">Respaldado por: </span>
        <img src="/images/logos/button-innova-ulima.png" alt="" />
      </div>
    </div>
  </section>

  <!-- SECCI칍N BENEFICIOS -->
  <section
    class="w-full flex flex-col lg:flex-row items-center justify-center gap-10 lg:gap-80"
    id="beneficios"
  >
    <div class="flex flex-col items-center justify-center gap-3 w-[165px]">
      <div
        class="size-[97px] text-[48px] flex items-center justify-center border-[3px] rounded-full border-[#DACEFF]"
      >
        游
      </div>
      <span class="text-[28px] leading-[110%] text-center font-semibold"
        >Rentabiliza tu espacio</span
      >
    </div>
    <div class="flex flex-col items-center justify-center gap-3 w-[170px]">
      <div
        class="size-[97px] text-[48px] flex items-center justify-center border-[3px] rounded-full border-[#DACEFF]"
      >
        游꿀
      </div>
      <span class="text-[28px] leading-[110%] text-center font-semibold"
        >Conecta con m치s usuarios</span
      >
    </div>
    <div class="flex flex-col items-center justify-center gap-3 w-[165px]">
      <div
        class="size-[97px] text-[48px] flex items-center justify-center border-[3px] rounded-full border-[#DACEFF]"
      >
        游
      </div>
      <span class="text-[28px] leading-[110%] text-center font-semibold"
        >Haz crecer tu negocio</span
      >
    </div>
  </section>

  <!-- PRESENTACI칍N DE SPACIUZ -->
  <section class="w-full flex flex-col lg:flex-row gap-10 lg:gap-4">
    <div
      class="flex w-full lg:w-1/3 items-center justify-center lg:justify-start"
    >
      <h2
        class="text-[35px] lg:text-[48px] text-center lg:text-start leading-[130%] font-semibold"
      >
        Interfaz intuitiva para localizar espacios.
      </h2>
    </div>
    <div class="w-full lg:w-2/3">
      <img
        src="/images/photos/banner-2-spaciuz-presentation.png"
        alt="Presentaci칩n de la plataforma Spaciuz"
        class="w-full"
      />
    </div>
  </section>

  <!-- SECCI칍N INFORMACI칍N DE SPACIUZ -->
  <section
    class="w-full flex flex-col items-center justify-center gap-10 relative py-10"
  >
    <img
      src="/images/logos/isologo.png"
      alt="isologo de Spaciuz"
      class="size-[30vh] lg:h-auto"
    />
    <p class="text-[30px] font-semibold w-full lg:w-[40%] text-center">
      <span class="bg-[#DCD1FF] rounded-[15px] p-[7px]">S칰mate</span> a la plataforma
      de confianza que conecta usuarios con propietarios.
    </p>
    <div
      class="shadow-[inset_0px_0px_11px_7px_#ffffff] w-[80%] lg:w-[520px] bg-linear-to-t from-[#FFFFF] to-transparent rounded-2xl z-10"
    >
      <div
        class="flex flex-col lg:flex-row gap-5 bg-clip-text text-transparent px-[42px] py-[28px] bg-linear-to-r from-[#181B8C] to-[#684ED8] items-center z-10 justify-end"
      >
        <span class="text-[50px] font-bold">+150K</span>
        <p class="text-[35px] font-semibold text-center lg:text-start">
          eventos al a침o
        </p>
      </div>
    </div>

    <div
      class="shadow-[inset_0px_0px_11px_7px_#ffffff] w-[80%] lg:w-[520px] bg-linear-to-t from-[#FFFFF] to-transparent rounded-2xl z-10"
    >
      <div
        class="flex flex-col lg:flex-row gap-5 bg-clip-text text-transparent px-[42px] py-[28px] bg-linear-to-r from-[#181B8C] to-[#684ED8] items-center z-10 justify-end"
      >
        <span class="text-[50px] font-bold">+8K</span>
        <p class="text-[35px] font-semibold text-center lg:text-start">
          reservas al mes
        </p>
      </div>
    </div>
    <a
      href="#formulario"
      class="rounded-3xl text-white font-semibold bg-linear-to-r from-[#181B8C] to-[#684ED8] text-[20px] lg:text-[31px] px-[46px] py-[19px] w-fit"
      >Reg칤strate ahora</a
    >

    <!-- LOGOS FLOTANTES IZQUIERDO-->
    <img
      src="/images/logos/isologo.png"
      alt="isologo de Spaciuz"
      class="absolute top-30 left-10 size-[145px] z-10 hidden lg:block"
    />
    <img
      src="/images/logos/isologo.png"
      alt="isologo de Spaciuz"
      class="absolute top-[45%] left-56 size-[78px] z-10 hidden lg:block"
    />
    <img
      src="/images/logos/isologo.png"
      alt="isologo de Spaciuz"
      class="absolute bottom-40 left-10 size-[145px] z-10 hidden lg:block"
    />

    <!-- LOGOS FLOTANTES DERECHO-->
    <img
      src="/images/logos/isologo.png"
      alt="isologo de Spaciuz"
      class="absolute top-0 right-10 size-[78px] z-10 hidden lg:block"
    />
    <img
      src="/images/logos/isologo.png"
      alt="isologo de Spaciuz"
      class="absolute top-[30%] right-52 size-[78px] z-10 hidden lg:block"
    />
    <img
      src="/images/logos/isologo.png"
      alt="isologo de Spaciuz"
      class="absolute bottom-52 right-5 size-[145px] z-10 hidden lg:block"
    />

    <!-- BLUR IZQUIERDO -->
    <div
      class="absolute size-[686px] bg-linear-to-r from-[#2587FF] to-transparent rounded-full rotate-[74deg] blur-[350px] -left-[20%] hidden lg:block"
    >
    </div>
    <div
      class="absolute size-[976px] bg-linear-to-b from-[#8059FF] to-white rounded-full -bottom-40 blur-[250px] -right-[40%] hidden lg:block"
    >
    </div>
  </section>

  <!-- SECCI칍N CARD -->
  <section
    class="w-full h-auto overflow-hidden rounded-[10px] lg:rounded-[60px] flex relative"
  >
    <img
      src="/images/photos/card-doble-img.png"
      alt=""
      class="w-full saturate-100"
    />
    <p
      class="text-white font-semibold text-[10px] lg:text-[42px] leading-[104%] w-[20%] flex absolute top-[50%] transform -translate-y-1/2 left-[5%] z-30"
    >
      Conecta f치cilmente con usuarios
    </p>
    <p
      class="text-white font-semibold tex-[10px] lg:text-[42px] leading-[104%] w-[20%] flex absolute top-[50%] text-right transform -translate-y-1/2 right-[5%] z-30"
    >
      y genera ingresos con tus espacios
    </p>
    <div
      class="size-[519px] bg-[#2587FF] rounded-full absolute -bottom-[80%] -left-[15%] blur-[317px] z-10 hidden lg:block"
    >
    </div>
    <div
      class="size-[519px] bg-[#2587FF] rounded-full absolute -top-[80%] -right-[15%] blur-[317px] z-10 hidden lg:block"
    >
    </div>
  </section>

  <!-- CARD PASOS -->
  <section class="w-full flex flex-col gap-5 lg:gap-20" id="publica">
    <h2
      class="text-[25px] lg:text-[48px] font-semibold text-center lg:text-start"
    >
      Publica en 3 simples pasos
    </h2>

    {
      listPasos.map(({ number, title, description, urlImg, altImg }) => (
        <CardPasosCommonComponent
          number={number}
          title={title}
          description={description}
          urlImg={urlImg}
          altImg={altImg}
        />
      ))
    }
  </section>

  <section
    class="w-full flex flex-col lg:flex-row gap-40 pt-[50px]"
    id="formulario"
  >
    <div class="w-full lg:w-1/2 flex justify-end">
      <div class="w-full lg:w-[70%] flex flex-col gap-6">
        <h3
          class="text-[50px] leading-[130%] text-white font-semibold text-center lg:text-end"
        >
          Publica gratis tus espacios.
        </h3>
        <p
          class="text-[#B19CF6] text-[30px] font-semibold leading-[138%] text-center lg:text-end"
        >
          Y deja que Spaciuz te ayude a hacerlo rentable
        </p>
      </div>
    </div>
    <div class="w-full lg:w-1/2 flex flex-col items-center lg:items-start">
      <form
        id="form"
        method="POST"
        class="w-full lg:w-[80%] flex flex-col gap-5"
      >
        <input type="hidden" name="web" id="web" value="Landing Spaciuz" />
        <InputComponent
          urlicon="icon-user"
          placeholder="Nombre completo"
          name="name"
          id="name"
          required
          type="text"
        />
        <InputComponent
          urlicon="icon-mail"
          placeholder="ejemplo@email.com"
          name="email"
          id="email"
          required
          type="email"
        />
        <InputComponent
          urlicon="icon-phone"
          placeholder="N칰mero de tel칠fono"
          name="phone"
          id="phone"
          required
          type="number"
        />
        <button
          class="tex-[20px] lg:text-[24px] font-semibold text-white border border-[#8059FF] bg-[#8059FF] text-center w-full py-[10px] rounded-[22px] cursor-pointer hover:opacity-80"
          >Enviar mis datos</button
        >
      </form>
    </div>
  </section>

  <section
    class="w-full flex items-center justify-center pb-[100px] lg:pb-[150px] pt-[120px] lg:pt-[150px]"
  >
    <img
      src="/images/logos/logo-spaciuz-blanco.png"
      alt="Logo Spaciuz pie de p치gina"
      class="w-[50vw] lg:w-auto"
    />
  </section>
</ContentLayout>

<script is:inline>
  const form = document.getElementById('form');

  form.addEventListener('submit', function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    fetch(
      'https://ap3g6cijf6.execute-api.us-east-2.amazonaws.com/dev/submit-form',
      {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
        },
        body: json,
      }
    )
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          setTimeout(() => {
            window.location.href = '/gracias';
          }, 1000);
        } else {
          console.log(response);
        }
      })
      .catch((error) => {
        console.log(error);
      })
      .then(function () {
        form.reset();
      });
  });
</script>
